<template>
  <div class="container">
    <h2>{{ country.name.common }}</h2>

    <img :src="country.flags.svg" alt="flag" width="250">

  </div>


</template>

<script setup>
import axios from 'axios'
import { useRoute } from 'vue-router'
import { ref } from 'vue'


const country = ref({
  name: {
    common: '',
    official: '',
  }
})
const route = useRoute()

axios.get(`https://restcountries.com/v3.1/name/${route.params.name}`)
  .then(response => {
    country.value = response.data[0]
  })


</script>