<template>
  <div class="container">
   <div class="countries-grid">
    <router-link :to="{ name: 'Country', params: { name: country.name.common } }" class="country card" v-for="country in countries">
      <div class="card-body">
        <div class="flag">
          {{ country.flag }}
        </div>
        <div>
          {{ country.name.common }}
        </div>
      </div>
    </router-link>
   </div>
  </div>
</template>

<script setup>
import axios from 'axios'
import { ref } from 'vue'

const countries = ref([])

axios.get('https://restcountries.com/v3.1/all')
  .then((response) => {
    countries.value = response.data
  })

</script>

<style>
  .countries-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }

  .country {

  }
</style>