<template>
  <div class="container p-5">

    <h2>To-Do List</h2>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Articulo" v-model="newItem" >
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="addItemToList()">Agragar</button>
    </div>
 
    <ul class="list-group">
      <li v-for="(item, i) in todoList" class="list-group-item d-flex justify-content-between" :class="{ done : item.added }">
        {{ item.name }}

        <div>
          <span class="btn btn-primary btn-sm mr-1 material-symbols-outlined" @click="deleteItemFromList(i)">
            delete
          </span>

          <span class="btn btn-primary btn-sm material-symbols-outlined"  @click="toggleItemStatus(item)">
            {{ item.added ? "close" : "done" }}
          </span>
        </div>
      </li>

    </ul>
  </div>
 
<hr>
  <pre>
    {{ todoList }}
  </pre>

</template>

<script setup>
import { ref } from 'vue'

let newItem = ref('cucharas')

let todoList = ref([
  {
    name: 'milk',
    added: false
  }
])




const addItemToList = () => {
  todoList.value.push({
    name: newItem.value,
    added: false
  })
  newItem.value = ''
}

const deleteItemFromList = (i) => {
  todoList.value.splice(i,1)
}

const toggleItemStatus = (item) => {
  item.added = !item.added
}

</script>

<style>
.done:hover,
.done {
  color: red;
  text-decoration: line-through;
}

</style>