<script setup>
defineProps({
  name: {
    type: String
  }
})
</script>

<template>
  <div class="center-form">
    <div id="login-form">
        <div>
          <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="" width="50">   
        </div>
        <h2 class="mb-4">Sign in</h2>
        <input placeholder="hola@perro.com" class="mb-1" type="text">
        <input placeholder="password" class="mb-2" type="password">
        <router-link to="home" class="mb-1 sign-in-btn">
          Sign in
        </router-link>
        <a class="mb-4" href="">forgot your password</a>
        <a class="mb-2 create-account" href="">Dont have a monoestereo account?</a>
        <button class="create-account-btn" >Create new account</button>
    </div>
  </div>

</template>

<style scoped>
#login-form {
   display: flex;
   flex-direction: column;
   width: 300px;
   text-align: center;
   padding: 2rem;
}

input {
   padding: 12px;
   border-radius: 8px;
   border: 1px solid lightGray;
}

input:active {
   border: 1px solid red;
}

input:focus {
   border: 1px solid lightGray;
   outline: none;
   box-shadow: 0 0 5px 0 rgba(blue, .2) 
}

.mb-1 {
   margin-bottom: 15px;
}

.mb-2 {
   margin-bottom: 20px;
}

.mb-3 {
   margin-bottom: 25px;
}

.mb-4 {
   margin-bottom: 30px;
}

.sign-in-btn {
   background-color: #5e5ef7;
   border: 0;
   padding: 1rem;
   border-radius: 8px;
   color: white;
   font-weight: 600;
   box-shadow: 0 5px 5px -2px rgba(black, 0.2);
   cursor: pointer;
}

.create-account-btn {
   background-color: white;
   border: 1px solid lightGray;
   padding: 1rem;
   border-radius: 8px;
   font-weight: 600;
   box-shadow: 0 5px 5px -2px rgba(black, 0.2);
   cursor: pointer;
}

a {
   text-decoration: none;
   color: gray
}

.create-account {
   font-weight: 500;
   color: black;
}

.center-form {
   display: flex;
   align-items: center;
   justify-content: center;
}

html, body {
   padding: 0;
   maring: 0;
   background-color: #f7f7f7;
   font-family: sans-serif;
}
</style>
